@import 'vars';

.gallery {
    padding-top: 28px;

    &-items {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include sm-block() {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &-item {
        border-radius: 20px;
        padding: 15px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        @include sm-block() {
            padding: 8px;
        }

        &:hover {
            box-shadow: 0px 2px 21px 5px rgba(0, 0, 0, 0.13);
        }
        img {
            width: 285px;
            height: 355px;

            @include sm-block() {
                width: 163px;
                height: 201px;
            }
        }
    }

    &-title {
        padding: 24px 0 8px;
    }

    &-btn {
        margin: 48px auto 40px;

        @include sm-block() {
            width: 100%;
        }
    }
}