@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');

$satoshi: 'Satoshi', sans-serif;
$clash-display: 'Clash Display', sans-serif;
$color-gray: #F9F9F9;
$h1-color: #22202E;
$text-color: #5B5676;
$main-color: #2A254B;

@mixin sm-block() {
    @media screen and (max-width: 768px) {
        @content;
    }
}